.searchmenu{
    display: flex;
    border-radius: 3px; 
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border: none;
    border-radius: 20px;
    background-color: #EDF2F7;
}

.topmenu{
    margin-top: 35px;
    height: 60px;
    border: none;
    display: flex;
    width: 350px;
    border-radius: 30px;
    padding: 3px;
    float: right;
    margin-right: 20px;
    justify-content: center;
    background-color: white;
}
@media only screen and (max-width: 550px){
    
    .topmenu{
        min-width: 70px;
        width:200px;
        float: right;
        margin-right: -50px;
    }
}